<html>

<head>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" />
    <title>Location Info</title>
</head>

<body>
    {% for image in location.images %}
        <span><img src="{{image.url}}"/></span>
    {% endfor %}

    <form action="/updatelocation" enctype="multipart/form-data" method="post">

        <input style="display:none" type="text" name="location_id" value="{{location.key}}">
        <div><b>ID:</b> {{location.key}}</div>
        <div><b>Date Location Entered Into DB:</b> {{location.date_created}}</div>

        <br/>
        <div><b>Updated By:</b> {{location.updated_by.nickname}}</div>
        <div><b>Date Last Updated:</b> {{location.date_updated}}</div>

        <br/>
        <div>
            <b>Num People:</b>

            {% if location.num_people %}
                <input name="num_people" type="text" value="{{ location.num_people}}"/>
            {% else %}
                <input name="num_people" type="text"/>Info still missing
            {% endif %}
        </div>

        <div>
            <b>Condition:</b>
            {% if location.condition %}
                <input name="condition" type="text" value="{{ location.condition}}"/>
            {% else %}
                <input name="condition" type="text"/>Info still missing
            {% endif %}
        </div>

        <div>
            <b>Date Found:</b>
            {% if location.date_found %}
                <input name="date_found" type="text" value="{{ location.date_found}}"/>
            {% else %}
                <input name="date_found" type="text"/>Info still missing
            {% endif %}
        </div>

        <div>
            <b>Agency:</b>
            {% if location.agency %}
                <input name="agency" type="text" value="{{ location.agency}}"/>
            {% else %}
                <input name="agency" type="text"/>Info still missing
            {% endif %}
        </div>

        <div><input type="submit" value="Update Info"></div>
    </form>

</body>


</html>
